.styled-table {
  * {
    box-sizing: border-box;
  }

  thead {
    tr {
      th {
        padding-left: 0.3rem;
        text-align: left;
      }
    }
  }

  tbody {
    tr:nth-of-type(odd) {
      background-color:#cccccc;
      color: #111111 !important;
    }

    td {
      padding-left: 0.3rem;
      text-align: left;
    }
  }
}
