aside {
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
  height: 100vh;
  background: #eeeeee; }

#javascript-logo {
  height: 200px;
  width: 200px; }

#navbar header {
  padding: 0.5rem;
  font-weight: 700;
  text-align: center; }

#navbar ul {
  max-height: calc(100vh - 240px);
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #navbar ul a {
    text-decoration: none;
    color: inherit; }
    #navbar ul a li {
      padding: 0.3rem 0.5rem;
      box-sizing: border-box; }
      #navbar ul a li:hover {
        background: #dddddd;
        cursor: pointer; }

@media (max-width: 750px) {
  aside {
    width: 100%;
    height: 40px;
    top: 0;
    padding: 0.5rem; }
  #javascript-logo {
    height: 40px;
    width: 40px; }
  #navbar {
    display: none; } }

footer {
  margin-left: 200px;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  background: #111111;
  color: #eeeeee; }
  footer a {
    color: #ff7f50;
    text-decoration: none; }

@media (max-width: 750px) {
  footer {
    margin-left: 0; } }

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0; }

#main-doc {
  width: calc(100% - 200px);
  margin-left: 200px;
  padding: 0; }
  #main-doc .prettyprint {
    padding: 0.5rem !important;
    margin: 0 !important;
    border-radius: 4px !important;
    overflow-x: auto; }
  #main-doc .main-section {
    padding: 0.5rem;
    box-sizing: border-box; }
    #main-doc .main-section header {
      font-size: 1.4rem;
      font-weight: 600;
      padding: 0.5rem 0;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 5px; }
    #main-doc .main-section .note {
      background: rgba(255, 234, 0, 0.5);
      border-left: 3px solid #ffea00;
      padding: 0.5rem;
      box-sizing: border-box;
      width: auto;
      display: inline-block; }

.code-text {
  font-family: monospace;
  color: #9a0000; }

@media (max-width: 750px) {
  #main-doc {
    margin-top: 40px;
    width: 100%;
    margin-left: 0; } }

.styled-table * {
  box-sizing: border-box; }

.styled-table thead tr th {
  padding-left: 0.3rem;
  text-align: left; }

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #cccccc;
  color: #111111 !important; }

.styled-table tbody td {
  padding-left: 0.3rem;
  text-align: left; }

#tools {
  position: fixed;
  top: 0;
  right: 0;
  list-style-type: none;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 10px; }
  #tools:hover {
    background: #eeeeee; }
  #tools li {
    padding: 0 0.5rem;
    box-sizing: border-box;
    cursor: pointer; }
